@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,100&family=Ranchers&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-boxs;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 0;
}

header {
  background-image: url("./images/background.jpg");
  min-height: 100vh;
  max-height: 100vh;
  background-size: cover;
  display: flex;
  background-position: center center;
  flex-direction: column;
  margin-bottom: 0;
}

.contaner {
  max-width: 1000px;
  margin: 0 auto;
  max-width: 90%;
}

.icons:hover {
  background: none;
}

.socialmedia a:hover {
  background: none;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1 rem;
  cursor: pointer;
  margin: 2vh 4vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}

a:hover {
  background: rgba(255, 255, 255, 0.3);
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 1rem 4rem;
}

.content {
  margin: 25vh 0;
  margin-left: 30vh;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
}

.socialmedia {
  height: 50px;
  width: 20px;
  position: absolute;
  top: 40vh;
}

.icons {
  margin-left: 10px;
  margin-bottom: 10px;
  height: 25px;
}

h1 {
  line-height: 2rem;
}

#button1 {
  text-decoration: none;
  color: #13a791;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  border-radius: 8px;
  float: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #13a791;
  font-weight: bold;
}

#button1:hover {
  background: #222;
  color: white;
}

/* @media screen and (max-width: 576px) {
  nav {
    padding: 100px;
    color: red;
    background: red;
  }
} */

.aboutme-container {
  margin: 0;
  min-height: 100vh;
  background-color: #222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.aboutme {
  color: white;
  background-color: #222;
  box-sizing: border-box;
  padding: 10px;
  margin: 10vh;
  font-size: 1.5rem;
  margin-left: 25vh;
  display: inline-block;
  font-weight: 300;
}

.aboutme-paragraph {
  font-size: 1rem;
}

.skills-container {
  height: 80vh;
  width: 100%;
  background-color: white;
  color: black;
  margin: auto;
  margin-bottom: 10vh;
  align-items: center;
  vertical-align: middle;
}

.ms {
  color: #222;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  margin: 10vh;
  font-size: 1.5rem;
  margin-left: 10%;
  font-weight: 300;
  /* grid-template-columns: 32% 32% 32%; */
  /* column-gap: 0vh; */
  /* display: block;  */
  display: flex;
}

.skills-container h1 {
  color: #222;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  margin: 10vh;
  margin-left: 8%;
  font-size: 3rem;
}

.checked {
  color: orange;
}

.fa-star {
  /* margin-top: 7px;*/
  float: right; 
  /* display: table-cell; */
}

.languageName {
  display: table-cell;
  margin-right: 10px;
}

.skills-column {
  /* float: left; */
  /* margin-left: 5vh;
  margin-right: 12vh; */
  margin-right: 10vh;
}

.skills-title {
  margin-bottom: 2vh;
}

.skills-column ul {
  margin-top: 0;
}

#column1 {
  /* grid-column-start: 1; */
  flex: 35vh;
}

#column2 {
  /* grid-column-start: 2; */
  flex: 35vh;
}

#column3 {
  /* grid-column-start: 3; */
  flex: 35vh;
}


.language-row {
  /* display: table; */
  margin-right: 2px;
  display: inline;
}



.projects-container {
  min-height: 100vh;
  background-color: #222;
  color: white;
}

.rp {
  color: white;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  margin: 10vh;
  font-size: 1.5rem;
  margin-left: 25vh;
  display: inline-block;
  font-weight: 300;
}

.rp h4 {
  font-weight: lighter;
  display: inline;
}

#link-icon {
  cursor: pointer;
  margin-bottom: 0;
}

.rp p {
  font-size: 1rem;
  margin-left: 2vh;
}

.econnect {
  margin-left: 5vh;
  margin-bottom: 5vh;
}

.econnect h5 {
  font-weight: lighter;
  margin-bottom: 0;
}

.econnect-body {
  margin-left: 5vh;
}

.econnect-body ul {
  font-size: 1rem;
  font-weight: 300;
}

.medium-a-container {
  min-height: 100vh;
  background-color: white;
  color: black;
}

.ma {
  color: #222;
  box-sizing: border-box;
  padding: 0px 10px 0px 10px;
  margin: 10vh;
  font-size: 1.5rem;
  margin-left: 25vh;
  display: inline-block;
  font-weight: 300;
}

.mediuma-body {
  margin-left: 5vh;
  margin-bottom: 5vh;
}

.article-container {
  border: 2px solid #222;
  border-radius: 2px;
  min-height: 140px;
  min-width: 900px;
  float: left;
  margin-bottom: 15px;
}

figure a:hover {
  background: none;
}

#pdf-icon {
  background: none;
}

.article-container-div1 {
  margin: 0;
  padding: 0;
  height: 140px;
  width: 150px;
  box-sizing: border-box;
  float: left;
}

.article-container-div2 {
  margin: 0;
  padding: 0;
  height: 140px;
  width: 700px;
  box-sizing: border-box;
  float: left;
}

.mediuma-body a {
  color: black;
}

footer {
  background: #222;
  height: 5vh;
  margin: 0;
}

.footer-container {
  height: 5vh;
  width: 100%;
}

#back-to-the-top {
  margin: 0;
  padding: 0;
  margin-left: 50%;
  margin-top: 10px;
  color: white;
  text-decoration: none;
}

figure {
  text-align: center;
  display: inline-block;
  margin: 0;
}

figcaption {
  margin: 0;
  font-size: 0.7rem;
}

figure img:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
